#drawing-canvas {
    width: 100%;
    height: auto;
    border: 4px solid green;
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    font-family: 'Work Sans';
}

.chat-message {
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 7px;
    overflow-wrap: break-word;
    margin: 10px;
    width: 65%;
    display: inline-block;
    position: relative;
}

.chat-message.right {
    float: right;
    background-color: #c8e1f9;
}

.lesson-column {
    max-height: 600px;
    min-height: 600px;
    overflow-y: scroll;
}

.navbar {
    font-family: 'Work Sans';
}

.bi-bookmark-plus {
    color: green;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 140%;
}

.chat-message>h6 {
    padding-right: 25px;
    padding-top: 10px;
}

.link-button {
    color: blue;
    text-decoration: underline;
}

.function-selector-screen {
    border: 1px solid gray;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 10px;
}

.equation {
    font-size: 200%;
}